# Aimsun Output Analysis

Extracts data from an sqlite file created by Aimsun.  

caleb@mobilitylab.co.nz

In [1]:
import sqlite3
import pandas as pd
import plotly.express as px

# Inputs

In [ ]:
# define the database
database = 'input/aimsun.sqlite'

# Connect to database and query

In [3]:
# Establish a connection to the SQLite database
conn = sqlite3.connect(database)

# define your table
table = 'MISUBPATH'

# define your replications
replication_ids = [100,101,102,103]
replication_str = ','.join(map(str, replication_ids))


# define your vehicles
veh_ids = [53,54]
veh_str = ','.join(map(str, veh_ids))


# define your time periods
times = [0, 1, 2, 3, 4, 5, 6, 7, 8]
time_str = ','.join(map(str, times))

# define your object ids (e.g., subpath ids)
oids = [1001, 1002, 1003]
oid_str = ','.join(map(str, oids))

# Write your SQL query
query = f"SELECT * FROM {table} WHERE did IN ({replication_str}) AND sid IN ({veh_str}) AND ent in ({time_str}) AND oid IN ({oid_str});"

print(query)

# # Use pandas to run the SQL query and store the results in a DataFrame
df = pd.read_sql_query(query, conn)

# Don't forget to close the connection when you're done
conn.close()

SELECT * FROM MISUBPATH WHERE did IN (100,101,102,103) AND sid IN (53,54) AND ent in (0,1,2,3,4,5,6,7,8) AND oid IN (1001,1002,1003);